ul.bottom-wear{
    display: flex; justify-content: space-between; background-color: #f5f5f5; padding: 0; margin: 0; position:  fixed;
    bottom: 0; width: 100%; flex-wrap: wrap; left: 0; padding: 0 10px;
    li{
        position: relative; padding: 10px; text-align: center; transition: all 0.3s ease;
        a{color: #ADB5BD;}
        &.active{
            transition: all 0.5s ease;
            a{color: $primary-color;}
            &::after{content: ''; position: absolute; bottom: 0; width: 50%; height: 2px; background-color: $primary-color; left: 50%; transform: translateX(-50%);
            }
        }
    }
}
    
