@include media-max(xs){
    header{
        nav{
            padding:0 !important;align-items: flex-start !important;
            .logo-img{
               display: inline-block; width: 60%; text-align: right; vertical-align: top;
                img{max-width: 100%;}
            }
            .menu-list{
                display: inline-block; width: 40%; padding-left: 20px; vertical-align: top;
                ul{
                   li{
                        list-style-type: none; width: 47%; display: inline-block ;background-color: #ddd; line-height: 30px; vertical-align: middle; text-align: center; border: 1px solid #dddd;
                        &.harmburger{a{color: #232323;}}
                    }
                }
            }
        } 
        
    }
}