// COLORS
$primary-color: #9E1D20;
$secondary-color: #465575;
$dark-color:#182A52;
$white-color: #fff;
$dark-grey: #333333;
$dark:#030303;
$blue: #0d1730;
$link-color:#4A90E2;
$bg-color:#F5F8FF;



//font
$body-font:'Nunito', sans-serif;
$secondary-font: 'Merriweather', sans-serif;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;




@function  px-to-rem($size :16){
	@return $size/16 + rem;
}

